<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
          1) Mail address (should not be empty and should be an email address)
          2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
          3) A Password field (should not be empty)
          4) A Submit Button

          Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

          Upon submitting the form, you should simply print the Value of the Form to the Console.
          Optionally, display it in your template.
      -->
      <h3>My Forms</h3>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="email">Mail: </label>
            <input type="email" id="email" class="form-control" name="email" ngModel email required>
          </div>
          <div class="form-group">
            <label for="select">Subscription: </label>
            <select name="select" class="form-control" [ngModel]="defaultSelect" id="select">
              <option value="Advanced">Advanced</option>
              <option value="Basic">Basic</option>
              <option value="Pro">Pro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input class="form-control" type="password" ngModel name="password" required>
          </div>
          <span class="help-block" *ngIf="!userData.valid && userData.touched">User Data is invalid!</span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Submit
        </button>
      </form>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs 12">
          <h3>Your Data: </h3>
          <p>Mail: {{ user.email }}</p>
          <p>Subscription: {{ user.subscription }}</p>
          <p>Password: {{ user.password }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
